
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Student's Academic Performance</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" href="/ratings">Ratings</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="/students">Students</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="/groups">Groups</a>
        <a class="nav-item nav-link" routerLinkActive="active" href="/subjects">Subjects</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
